@main.route("/edit-news/<int:news_id>", methods=["GET","POST"])
def edit_news(news_id):

    news = News.query.get_or_404(news_id)

    form = NewsForm(obj=news)


    if form.validate_on_submit():

        news.title = form.title.data

        news.category = form.category.data

        news.author = form.author.data

        news.image = form.image.data

        news.description = form.description.data


        db.session.commit()


        return redirect(
            url_for(
                "main.news_detail",
                news_id=news.id
            )
        )


    return render_template(
        "edit_news.html",
        form=form,
        news=news
    )